@import "variables.scss";
@import "mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: var(--breakpoint-lg)) {
  html {
    font-size: var(--font-size-lg);
  }
}

@media (max-width: var(--breakpoint-md)) {
  html {
    font-size: var(--font-size-md);
  }
}

body {
  background-color: var(--grey-900);
  color: var(--white);
}

body,
input,
button,
textarea {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}
